@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.bg.summer {
    background: radial-gradient(ellipse at 100% 0%, #E85B39 0%, #ED9648 15%, #EE82EE00 69%);
}


.bg.winter {
    background: radial-gradient(ellipse at 100% 0%, #36747F 0%, #56C2CF 35%, #EE82EE00 69%);
}

.bg.night {
    background: radial-gradient(ellipse at 100% 0%, #2E4549 0%, #7B9093 35%, #EE82EE00 69%);
}


.weather {
    padding: 30px;
}


.dropdown {
    background-color: rgba(255, 255, 255, 0.8);;
    display: flex;
    flex-direction: column;
    width: 85%;
    border-radius: 5px;
    position: absolute;
    top: 9%;
    z-index: 2;

}

.dropdown:empty {
    border: none;
}


.dropdown-row:hover {
    background-color: #a0a0a0;
    cursor: pointer;
    text-align: start;
    margin: 2px
}

.error {
    color: #E85B39;
    text-align: left;
    margin-right: 10px;
    margin-top: 10px;
}

.winfo {
    text-align: center;
    margin-top: 60px;
}

.winfo .temp_img {
    margin: auto;
    width: 50%;
    display: block;
    z-index: 1;

}


.middle {
    align-items: center;
}



.bottom {
    align-items: center;
}

hr {
    width: 75%;
    padding: 2px;
    margin: 10% 0 2% 11%;
}

.details {
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.details .col {
    display: flex;
    align-items: center;
    text-align: center;
}

.details .col img {
    width: 16%;
    margin-bottom: 25px;
    padding-right: 1px;
}

.footer{
    position: relative;
    top: 40px;
}


/* computer and tablets */

@media screen and (max-width: 1024px) and (max-width: 768px) {
    .bottom {
        position: absolute;
        bottom: 60px;
    }

    hr {
        width: 85%;
        padding: 1px;
        margin: 0 0 2% 3%;
    }

    .details{
        justify-content: space-between;
    }

    .footer{
        position: relative;
    }
}

@media only screen and (min-width: 360px){
    .bottom {
        bottom: 70px;
    }

    .footer{
        top: 80px;
    }
}

@media only screen and (min-width: 375px){
    .bottom {
        bottom: 30px;
    }

    .footer{
        top: 30px;
    }
}

/* iphone 11/12/13 pro */

@media only screen and (min-width: 390px){
    .bottom {
        bottom: 100px;
    }

    .footer{
        top: 200px;
    }
}


/* galaxy phones */

@media only screen and (min-width: 400px){
    .bottom {
        bottom: 100px;
    }

    .footer{
        top: 250px;
    }
}
